@use 'config/scss/variables' as *;

.parent {
  height: 100%;
  width: 100%;
  padding: 0 2vmin;
  overflow: hidden;

  .topKpi {
    height: 12vmin;
    margin: 0 0 0 0;
    width: 100%;
  }

  .filterContainer {
    height: 5vmin;
    position: absolute;
    gap: 1.8vmin;
    top: 0;
    right: 0;
    padding: 0.7vmin 2vmin;
    width: 50% !important;

    .affiliatesCustomDropdown {
      width: 38% !important;
      max-width: 38% !important;
      height: 100%;

      .labelText {
        width: fit-content;
        margin-right: 1.5vmin;
      }

      :global(.customWidthheckboxDropdown) {
        min-width: unset !important;
      }
    }
  }

  .content {
    margin-top: 2vmin;
    height: calc(100% - 15.5vmin);
    padding: 0;
    gap: 2vmin;

    .affliateParentContainer {
      gap: 2vmin;

      .contentContainerLeft {
        width: calc(100% - 25%);
        background-color: $primary_white;
        padding: 0;
        border-radius: 8px;
        height: 100%;
        @include boxShadow_card;

        .bottom {
          position: relative;

          &::after {
            content: '';
            position: absolute;
            width: 1.5vmin;
            height: 12.1vmin;
            background-color: $primary_blue_bg;
            border-top: 1px solid $primary_gray_4;
            border-bottom: 1px solid $primary_gray_4;
            top: 0;
            right: 0;
            z-index: 88;
          }

          .removeWhiteSpaceWithPosition {
            overflow-y: scroll;

            img {
              filter: unset;
            }

            &::-webkit-scrollbar-track {
              background: transparent;
            }

            &::-webkit-scrollbar-track-piece:start {
              background: transparent !important;
              margin-top: 12vmin !important;
            }
          }

          // css for collapsible table
        }
      }

      .contentContainerRight {
        width: 25%;
        padding: 1vmin 1.5vmin 1vmin 1.5vmin;
        border-radius: 8px;
        height: 100%;
        background-color: $primary_white;
        @include boxShadow_card;

        :global(.headerVisible) {
          height: 1.6vmin;
        }

        :global(.sutanibilityCardTabsHeight) {
          height: calc(100% - 1.6vmin);
        }
      }
    }

    &.affliateTabsContainer {
      :global(.tab-content > .fade.tab-pane.active.show) {
        background-color: transparent !important;
      }
    }
  }

  .alertStatsContainerMain {
    opacity: 1; //remove after use
    user-select: none;
    pointer-events: none;

    .alertUnderProgressContainer {
      color: $primary_black;
    }

    .alertStatisticsUnderProgressContainer {
      user-select: none;
      pointer-events: none;
      background-image: url('../../assets/images/screenshotAlerts.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: $primary_gray_3;
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1vmin;
      z-index: 999;
      filter: brightness(60%);

      h1 {
        position: relative;
        z-index: 999;
      }
    }

    .alertStaticsModelContainer {
      position: absolute;
      opacity: 0.4;
      top: 0;
    }
  }
}
