.px-6 {
  padding-left: 6%;
  padding-right: 6%;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pt-10 {
  padding-top: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.pr-10 {
  padding-right: 10px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pt-15 {
  padding-top: 15px;
}

.pr_2 {
  padding-right: 2vmin;
}

.pr_3 {
  padding-right: 3vmin;
}

.mt_1 {
  margin-top: 1vmin;
}

.mb_05 {
  margin-bottom: 0.5vmin;
}

.mb_1 {
  margin-bottom: 1vmin;
}

.mb_2 {
  margin-bottom: 2vmin;
}

.mb_3 {
  margin-bottom: 3vmin;
}

.mb_03 {
  margin-bottom: 0.3vmin;
}

.lineHeightNormal {
  line-height: normal;
}

.lineHeight1_2 {
  line-height: 1.2;
}

.lineHeight1_3 {
  line-height: 1.3;
}
