@use 'config/scss/variables' as *;

.logsTablecontainer {
  .tableBlock {
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-track-piece:start {
      background: transparent !important;
      margin-top: 5.5vmin !important;
    }

    height: 100%;
    overflow-y: auto;

    .table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0px;

      thead {
        height: 5.5vmin;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 10;

        tr {
          th {
            position: relative;
            padding: 0.5vmin;
            background-color: $primary_blue_bg;
            color: $primary_gray;
            font-size: 1.2vmin;
            font-family: 'sabic_text_bold', serif;
            text-align: center;
            text-transform: uppercase;

            &:first-child {
              border-radius: 3px 0px 0px 3px;
            }

            &:last-child {
              border-radius: 0px 3px 3px 0px;
            }

            &:not(:last-child) {
              &::after {
                content: '';
                position: absolute;
                height: 47%;
                width: 1px;
                background-color: $primary_gray_3;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
              }
            }

            .customMarginForCenterAlign {
              display: inline-block;
              margin-top: 0.3vmin;
            }
          }
        }
      }

      tbody {
        overflow-y: auto;
        height: calc(100% - 5.5vmin);

        tr {
          td:first-child {
            text-align: left;
          }

          td {
            text-align: left;
            padding: 1vmin 0.5vmin;
            font-size: 1.3vmin;
            line-height: 1.2;
            color: $primary_gray;
            font-family: 'sabic_text_regular', serif;
            background-color: $primary_white;
            vertical-align: middle;
            border-bottom: 1px solid #e6e7e8;
            text-transform: uppercase;
            word-break: break-all;
            position: relative;

            .stickyCell {
              position: sticky;
              top: 6.5vmin;
            }

            &:first-child,
            &:nth-child(2) {
              vertical-align: baseline;
            }

            ul {
              li {
                margin-bottom: 1.5vmin;
                line-height: 1.5;
              }
            }
          }
        }
      }
    }
  }
}
