.horizontalDrumCompoOff {
  min-height: 10vmin;
}

.horizontalDrumCompoOff .s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.horizontalDrumCompoOff .horizontalDrumOff {
  background-color: transparent;
  border-radius: 10px;
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.horizontalDrumCompoOff .horizontal-drum {
  background-size: 100% 100%;
  height: 42px;
  left: 16px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
}

.horizontalDrumCompo {
  min-height: 10vmin;
}

.horizontalDrumCompo .s {
  align-items: center;
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;
  position: relative;
}

// .horizontalDrumCompo .text-wrapper {}

.horizontalDrumCompo .horizontalDrumOn {
  background-color: transparent;
  border-radius: 10px;
  height: 100px;
  overflow: hidden;
  position: relative;
  width: 100px;
}

.horizontalDrumCompoOff .horizontalDrumOff img {
  height: 100% !important;
}

.horizontalDrumCompo .horizontalDrumOn img {
  height: 100% !important;
}
