@use 'src/config/scss/_variables' as *;
@use 'src/config/scss/typography' as *;

.parentContainerUM {
  padding: 0 2vmin;

  .roleTabs {
    // overflow: hidden;
    height: calc(100% - 1.5vmin);
    background-color: $primary_white;

    :global(.active) {
      background-color: $primary_blue !important;
    }

    :global(.nav.nav-tabs) {
      display: flex;
      justify-content: flex-start;
      border-top-left-radius: 4px;
      width: 100% !important;
      height: calc(4.5vmin) !important;
      overflow: hidden;

      :global(.nav-item) {
        height: calc(100%) !important;
        padding: 0 !important;
        overflow: hidden;
        position: relative;
        width: 40vmin !important;

        &:first-child {
          z-index: 1;
          left: -1vmin;
        }

        &:nth-child(2) {
          z-index: 2;
        }

        &:not(:first-child) {
          left: -4vmin;
        }

        :global(.nav-link) {
          height: 100% !important;
          color: $primary_gray !important;
          @include text13;
          font-family: 'sabic_text_bold', serif;
          font-weight: 400;
          padding: 0 !important;
          padding-top: 0.4vmin !important;
          background-color: none !important;
          border: none;
          background-image: url('../../assets/sabic_icons/common/tabsImg.svg');
          background-size: 100%;
          background-repeat: no-repeat;
          background-position: center center;
          position: absolute;
          bottom: 0;
          margin-bottom: 0;

          &:hover {
            background-color: transparent !important;
          }
        }

        :global(.nav-link.active) {
          padding: 0 !important;
          padding-top: 0.4vmin !important;
          background-color: transparent !important;
          background-image: url('../../assets/sabic_icons/common/tabsImgActive.svg');
          color: $primary_white !important;
        }
      }

      :global(.nav-item:has(.nav-link.active)) {
        z-index: 10;
      }
    }

    :global(.tab-content) {
      height: calc(100% - 4.5vmin);
      border-top: 1px solid $primary_gray_4;
      @include boxShadow_card;
      padding: 1vmin;

      :global(.tab-pane.active) {
        background-color: $primary_white !important;
      }
    }
  }
}

.parent {
  overflow: hidden;
  height: 100%;

  .bottom {
    height: 100%;
    overflow: hidden;
    gap: 1.5vmin;

    .contentContainer {
      width: 100%;
      border-radius: 0px 4px 4px 4px;
      padding: 1vmin;
      border: 1px solid $primary_gray_3;
      height: 100%;
      @include boxShadow_card;
      overflow: hidden;
    }

    .tbl_key_container {
      height: 100%;

      table {
        thead {
          tr th:not(:last-child)::after {
            border: none;
          }

          th {
            font-family: 'sabic_text_bold', serif;
            border: none;
            border-top: 0.5px solid $primary_gray_3;

            &:first-child {
              border-radius: 0px;
            }

            &:last-child {
              border-radius: 0px;
            }
          }
        }

        thead tr th,
        tbody tr td {
          // padding: 10px;
          height: 5.5vmin !important;
          font-size: 1.4vmin !important;
          border-radius: 0px;
          border-bottom: 0.5px solid $primary_gray_3;
        }
      }
    }
  }
}

.performanceLogTabContainer,
.apiRequestTabContainer {
  :global(.globalServerSideTableContainer table thead tr th h2) {
    font-size: 1.3vmin !important;
  }

  :global(.globalServerSideTableContainer .table thead) {
    height: 8vmin;
  }

  :global(.globalServerSideTableContainer) {
    &::-webkit-scrollbar-track-piece:start {
      margin-top: 8vmin;
    }
  }
}
